<div>
        <div class="p-1 px-4 bg-light">
            <div>
                socials | facebook instagram twitter
            </div>
        </div>
    <div style="" class="d-flex shadow justify-content-between px-5 py-4 nav-custom">
        <div>
            <img alt="logo-here" width="100px" src="images/ICTAZ-SMALL-LOGO-4-1.png" />
        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class="Nav">
                <NavLink href="/" class="">
                    <span>Home</span>
                </NavLink>
                <NavLink href="/About" class="">
                    <span>About</span>
                </NavLink>
                <NavLink href="/Todo" class="">
                    <span>Todo</span>
                </NavLink>
                <NavLink href="/Clubs" class="">
                    <span>Clubs</span>
                </NavLink>
                <NavLink href="/OurTeam" class="">
                    <span>Our Team</span>
                </NavLink>
            </div>
        </div>
    </div>
</div>