@rendermode InteractiveServer

<PageTitle>Todo page</PageTitle>

<div>
    <h4>Todo list</h4>
<div>
    <input @bind="newtext"/>
    <button @onclick="Addtodo">Add</button>
</div>
    <div>
        <ul>
            @foreach(var todo in todos){
                <li>@todo.TodoTitle</li>
            }
        </ul>
    </div>
</div>

@code{
    private List<TotoItem> todos  = new();

    string newtext= "";

    void Addtodo(){
        if(!string.IsNullOrWhiteSpace(newtext)){
            todos.Add(new TotoItem {TodoTitle = newtext});
            newtext = string.Empty;
        }
    }



}